html{
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}
input{
	font-family: Arial, sans-serif;
	cursor:pointer;
}
body, html{
	font-family: Arial, sans-serif;
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
	font-size:1em;
	color:#000;
	margin:0;
	padding:0;
}
body{
	background: url('../images/lanfeld_bg.jpg') repeat top center fixed;
}
#adHead, footer{
	border:2px groove #345;
	background:#123;
	padding:5px;
	height:102px;
}
footer{
	margin-top:5px;
}
#nevergrind{
	width:250px;
}
header{
	position:relative;
	height:174px;
}
h1{
	font-family:Times New Roman;
	position:absolute;
	bottom:0;
	right:0;
	font-size:3.5em;
	font-weight:normal;
	margin:0;
	padding:10px 0;
	letter-spacing:.025em;
	text-shadow:
		1px 1px #541,
		-1px 1px #541,
		-1px 0 #541,
		1px 0 #541,
		0 1px #541,
		0 -1px #541,
		-2px 2px #111,
		-2px 0 #111,
		0 2px #111,
		-1px 1px 2px,
		-1px 1px 5px;
}
h1 > a{
	color:#f5e555;
	text-decoration:none;
}
h1 > a:visited{
	color:#f5e555;
}
h1 > a:hover{
	color:#f5e555;
}
a{
	color:#6bf;
	text-decoration:none;
}
a:visited{
	color:#6bf;
}
a:hover{
	color:#a5a;
	text-decoration:none;
}
nav{
	font-size:1.125em;
	box-shadow:
		0 10px 20px rgba(16,32,48,.5) inset,
		0 -10px 20px rgba(112,128,144,.5) inset,
		0 999px rgba(16,32,48,.7) inset;
	border:2px groove #345;
	border-top:none;
	height:40px;
	overflow:none;
}
h2{
	font-weight:normal;
}
.links{
	color:#def;
	float:left;
	padding:2px 10px;
	line-height:38px;
	height:38px;
	border-left:1px solid #123;
	text-decoration:none;
}
.links:visited{
	color:#def;
}

.links:first-child{
	border-left:none;

}
.links:hover{
	color:#fff;
	text-shadow:0 0 2px #fff;
	box-shadow:0 999px rgba(48,64,80,.7) inset;
}
#menu{
	position:absolute;
	top:0;
	right:0;
	border-radius:0 0 6px 6px;
}
.content{
	margin-top:5px;
	padding:5px;
	border:2px groove #345;
	background:#123;
	overflow:hidden;
	min-height:750px;
}
#wrap{
	position:relative;
	width:1024px;
	margin:0 auto;
	margin-bottom:20px;
}
#searchWrap{
	position:relative;
	height:40px;
	padding:4px;
	margin:0 auto;
	width:354px;
}
#search{
	position:absolute;
	width:304px;
	font-size:1em;
	left:0;
	right:0;
	margin:0 auto;
	border-radius:5px;
	color:#707070;
	box-shadow:0 0 10px #333;
	padding:8px 40px 8px 8px;
}
#searchButton{
	position:absolute;
	z-index:10;
	background:url('../images/mag-glass2.png') 0 0 / 100% 100%;
	top:6px;
	right:30px;
	border:none;
	outline:none;
	width:36px;
	height:36px;
}
#search:hover{
	cursor:text;
}
#result{
	margin-top:20px;
}
#result-table{
	width:100%;
}
th{
	text-align:left;
}
#main{
	background:#012;
	background: radial-gradient(50% 50%, cover, #456 0%, #012 100%);
	background: -o-radial-gradient(50% 50%, cover, #456 0%, #012 100%);
	background: -moz-radial-gradient(50% 50%, cover, #456 0%, #012 100%);
	background: -webkit-radial-gradient(50% 50%, cover, #456 0%, #012 100%);
	background: -ms-radial-gradient(50% 50%, cover, #456 0%, #012 100%);
	border:2px groove #345;
	color:#fff;
	padding:5px;
}
.strongShadow{
	text-shadow:
		1px 1px #222,
		-.4px .6px #222,
		.6px -.6px #222,
		-.4px 0 #222,
		.6px 0 #222,
		0 .6px #222,
		0 -.6px #222,
		.6px .6px #222;
}
.hide{
	display:none;
}
ol,ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
li{
	clear:left;
	height:19px;
}
#characterWrap{
	background:#012;
	padding:12px 20px;
	min-height:2032px;
}
#name{
	font-size:56px;
	font-weight:bold;
	letter-spacing:-.025em;
}
#title,
#head-level,
#head-title,
#head-gender{
	font-size:16px;
}
#profile-views{
	float:right;
}
.fields{
	float:left;
	color:#69c;
	line-height:24px;
}
.data{
	float:right;
	color:#def;
}
.reddata{
	float:right;
	color:#f11;
}
.itemImgBg{
	width:64px;
	height:64px;
	overflow:hidden;
	background:url('../../images1/item-ng.png');
}
.talentImgBg{
	width:64px;
	height:64px;
	overflow:hidden;
	background:url('../../images1/item-ng.png');
}
.itemImg{
	position:relative;
}
.items{
	font-family:Times New Roman,serif;
	font-size:20px;
	text-align:center;
	width:335px;
	height:64px;
	background:#123;
	box-shadow:
		0 0 15px rgba(255,255,255,.15) inset,
		0 0 1px rgba(255,255,255,.78) inset,
		0 0 35px rgba(55,155,255,.1) inset;
}
.talentWrap{
	position:relative;
}
.talentNum{
	position:absolute;
	bottom:0;
	right:0;
	font-size:21px;
	padding:0 5px 0px 0;
}
.talent{
	vertical-align:top;
	padding:4px 10px;
	width:335px;
	height:56px;
	white-space:normal;
	background:#123;
	box-shadow:
		0 0 15px rgba(255,255,255,.15) inset,
		0 0 1px rgba(255,255,255,.78) inset,
		0 0 35px rgba(55,155,255,.1) inset;
}
.valign{
    vertical-align: middle;
    height: 64px;
    display: inline-block;
}
.stat-column{
	width:250px;
	float:left;
	margin-right:25px;
}
#column3{
	width:405px;
	margin-right:0;
}
.stat-column-section{
	clear:left;
	margin-top:15px;
	white-space:nowrap;
}
.clearLeft{
	clear:left;
}
#equipTable,#talentTable{
	width:100%;
}
td{
	padding:0;
	position:relative;
}
.normal{
	color:#fff;
	text-shadow:
		1px 1px #000,
		-1px 1px #000,
		1px -1px #000,
		-1px -1px #000,
		-1px 0 #000,
		1px 0 #000,
		0 1px #000,
		0 -1px #000,
		2px 2px #000,
		1px 1px #000;
}
.magical{
	color:#628aff;
	text-shadow:
		1px 1px #000,
		-1px 1px #000,
		1px -1px #000,
		-1px -1px #000,
		-1px 0 #000,
		1px 0 #000,
		0 1px #000,
		0 -1px #000,
		2px 2px #000,
		0 0 5px rgba(65,105,225,.5), 
		1px 1px #000;
}
.rare{
	color:#eeee73;
	text-shadow:
		1px 1px #000,
		-1px 1px #000,
		1px -1px #000,
		-1px -1px #000,
		-1px 0 #000,
		1px 0 #000,
		0 1px #000,
		0 -1px #000,
		2px 2px #000,
		0 0 5px rgba(202,202,82,.33), 
		0 0 5px rgba(202,202,82,.66), 
		1px 1px #000;
}
.unique{
	color:#b5a170;
	text-shadow:
		1px 1px #000,
		-1px 1px #000,
		1px -1px #000,
		-1px -1px #000,
		-1px 0 #000,
		1px 0 #000,
		0 1px #000,
		0 -1px #000,
		2px 2px #000,
		0 0 20px rgba(165,146,99,.1), 
		0 0 20px rgba(165,146,99,.3),
		0 0 10px rgba(165,146,99,.6), 
		1px 1px #000;
}
.set{
	color:#3e3;
	text-shadow:
		1px 1px #000,
		-1px 1px #000,
		1px -1px #000,
		-1px -1px #000,
		-1px 0 #000,
		1px 0 #000,
		0 1px #000,
		0 -1px #000,
		2px 2px #000,
		0 0 20px rgba(48,240,48,.1), 
		0 0 10px rgba(48,240,48,.6), 
		1px 1px #000;
}
.legendary{
	color:#f2a63a;
	text-shadow:
		1px 1px #000,
		-1px 1px #000,
		1px -1px #000,
		-1px -1px #000,
		-1px 0 #000,
		1px 0 #000,
		0 1px #000,
		0 -1px #000,
		2px 2px #000,
		0 0 20px rgba(255,128,0,.1), 
		0 0 20px rgba(255,128,0,.3),
		0 0 10px rgba(255,128,0,.6), 
		1px 1px #000;
}
.exceptionalItem{
	color:#95d;
	text-shadow:0 0 10px rgba(144,80,224,.66), 
		0 0 25px rgba(144,80,224,.33), 
		1px 1px #000,
		-1px 1px #000,
		1px -1px #000,
		-1px -1px #000,
		-1px 0 #000,
		1px 0 #000,
		0 1px #000,
		0 -1px #000,
		2px 2px #000,
		1px 1px #000;
}
.eliteItem{
	color:#b72;
	text-shadow:0 0 10px rgba(176,112,32,.6), 
		0 0 15px rgba(176,112,32,.3), 
		0 0 30px rgba(176,112,32,.1), 
		1px 1px #000,
		-1px 1px #000,
		1px -1px #000,
		-1px -1px #000,
		-1px 0 #000,
		1px 0 #000,
		0 1px #000,
		0 -1px #000,
		2px 2px #000,
		1px 1px #000;
}
.green{ color:#3f0; }
.flavorText{
	color:#DAA520;
	margin-top:12px;
	font-family:Times New Roman,serif;
	font-size:16px;
	font-variant:normal;
}
#ttItem{
	font-family:Times New Roman,serif;
	position:absolute;
	top:50px;
	left:200px;
	width:380px;
	height:auto;
	z-index:266;
	margin:0;
	color:#e8f2fd;
	overflow:hidden;
	white-space:normal;
	background:#020813;
	border-radius:6px;
	opacity:0;
}
#ttItemName{
	position:relative;
	top:0;
	left:0;
	right:0;
	font-size:20px;
	text-align:center;
	margin:2px;
	padding:2px 24px;
	background:url('../../images1/itemtt.png') 0 0 / 100% 100%;
}
#ttItemMsg{
	position:relative;
	top:0;
	left:0;
	right:0;
	padding:8px;
	font-size:18px;
	line-height:20px;
	text-align:center;
	min-height:80px;
	color:#e9f1ff;
	margin:2px;
	background:#020813;
	box-shadow:0 5px 10px rgba(0,0,0,1) inset;
}
.setTip{
	margin-top:12px;
	color:#a59263;
}
.setTitle{
	margin-top:12px;
	color:#a59263;
}
.setList{
	color:#f22;
}
#itemIcon{
	/* b5a170 */
	position:absolute;
	top:2px;
	right:2px;
	width:64px;
	height:64px;
	border:2px groove #7a6d25;
	overflow:hidden;
	background:#541;
    background-image: -webkit-radial-gradient(center center, contain, #7a6d25 0%, #1a1406 100%);
    background-image: -moz-radial-gradient(center center, contain, #7a6d25 0%, #1a1406 100%);
    background-image: -ms-radial-gradient(center center, contain, #7a6d25 0%, #1a1406 100%);
    background-image: -o-radial-gradient(center center, contain, #7a6d25 0%, #1a1406 100%);
}
#itemIconImg{
	background:url('//i.imgur.com/gxfvcyu.png');
	width:64px;
	height:64px;
}