*{
	_noFocusLine: expression(this.hideFocus=true);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout:none;
	cursor:default
}
::-moz-focus-inner{border:0;}
:focus{outline:none;}
img, canvas{
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
html{
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}
body, html{
	font-family:Arial,sans-serif;
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
}
.staggeredGrey{
	background: #0a0a0a;
	background: linear-gradient(top, 
		#1d1d1d 0%, #1d1d1d 10%, 
		#1a1a1a 10%, #1a1a1a 20%, 
		#171717 20%, #171717 30%, 
		#141414 30%, #141414 40%, 
		#111111 40%, #111111 50%, 
		#0e0e0e 50%, #0e0e0e 60%, 
		#0b0b0b 60%, #0b0b0b 70%, 
		#090909 70%, #090909 80%, 
		#060606 80%, #060606 90%, 
		#030303 90%, #030303 100%);
	background: -webkit-linear-gradient(top, 
		#1d1d1d 0%, #1d1d1d 10%, 
		#1a1a1a 10%, #1a1a1a 20%, 
		#171717 20%, #171717 30%, 
		#141414 30%, #141414 40%, 
		#111111 40%, #111111 50%, 
		#0e0e0e 50%, #0e0e0e 60%, 
		#0b0b0b 60%, #0b0b0b 70%, 
		#090909 70%, #090909 80%, 
		#060606 80%, #060606 90%, 
		#030303 90%, #030303 100%);
	background: -moz-linear-gradient(top, 
		#1d1d1d 0%, #1d1d1d 10%, 
		#1a1a1a 10%, #1a1a1a 20%, 
		#171717 20%, #171717 30%, 
		#141414 30%, #141414 40%, 
		#111111 40%, #111111 50%, 
		#0e0e0e 50%, #0e0e0e 60%, 
		#0b0b0b 60%, #0b0b0b 70%, 
		#090909 70%, #090909 80%, 
		#060606 80%, #060606 90%, 
		#030303 90%, #030303 100%);
	background: -ms-linear-gradient(top, 
		#1d1d1d 0%, #1d1d1d 10%, 
		#1a1a1a 10%, #1a1a1a 20%, 
		#171717 20%, #171717 30%, 
		#141414 30%, #141414 40%, 
		#111111 40%, #111111 50%, 
		#0e0e0e 50%, #0e0e0e 60%, 
		#0b0b0b 60%, #0b0b0b 70%, 
		#090909 70%, #090909 80%, 
		#060606 80%, #060606 90%, 
		#030303 90%, #030303 100%);
	background: -o-linear-gradient(top, 
		#1d1d1d 0%, #1d1d1d 10%, 
		#1a1a1a 10%, #1a1a1a 20%, 
		#171717 20%, #171717 30%, 
		#141414 30%, #141414 40%, 
		#111111 40%, #111111 50%, 
		#0e0e0e 50%, #0e0e0e 60%, 
		#0b0b0b 60%, #0b0b0b 70%, 
		#090909 70%, #090909 80%, 
		#060606 80%, #060606 90%, 
		#030303 90%, #030303 100%);
}
#main{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 1024px;
	height: 600px;
	overflow:hidden;
	color: #555;
	background: #fff;
	font-size: 2em;
	text-align: center;
	box-shadow: 0 0 2px #000 inset,0 0 4px #000 inset,0 0 6px #000 inset,0 0 10px #000 inset;
	
}