*{
	_noFocusLine: expression(this.hideFocus=true);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout:none;
}
::-moz-focus-inner{border:0;}
:focus{outline:none;}
html{
	font-family:Arial,sans-serif;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	background: #001;
	overflow:hidden;
}
input{
	cursor: text;
}
body{
	position: absolute;
	width:100%;
	height:100%;
	opacity: 0;
	background: #050c22;
	overflow: hidden;
}
header{
	position: relative;
	font-size: 1em; 
	background: rgba(0,14,88,.9);
	border-bottom:1px solid #02b;
	width: 100%;
	overflow:hidden;
	z-index:99999;
	color: #fff;
}
audio{
	display: none;
}
h1,h2{
	font-size: .875em;
	color:#fff;
	margin:0;
	padding:0;
}
/* common helpers */
.crystalIcon{
	background:url('/images1/currency.png') 100% 0 / 200% 100%;
	width:30px;
	height:30px;
}
.accountDetails{
	height:30px;
	float:left;
	margin-right:12px;
}
.accountValues{
	float:left;
	height:30px;
	line-height:30px;
	text-indent:5px;
}
.accountValueText{
	line-height:32px;
}
.accountValueText2{
	float:left;
	line-height:32px;
	margin-left:5px;
}
.modePanel{
	float:right;
	line-height:32px;
	padding-right:16px;
}
.fancyhr{
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(
		left, 
		rgba(16,64,176,.2), 
		rgba(16,64,176,1), 
		rgba(16,64,176,.2)
	); 
	background-image: -moz-linear-gradient(
		left, 
		rgba(16,64,176,.2), 
		rgba(16,64,176,1), 
		rgba(16,64,176,.2)
	); 
	background-image: -ms-linear-gradient(
		left, 
		rgba(16,64,176,.2), 
		rgba(16,64,176,1), 
		rgba(16,64,176,.2)
	); 
	background-image: -o-linear-gradient(
		left, 
		rgba(16,64,176,.2), 
		rgba(16,64,176,1), 
		rgba(16,64,176,.2)
	); 
	margin:8px 8px;
}
.shadow1{
	text-shadow:
		1px 1px #222,
		-.4px .6px #222,
		.6px -.6px #222,
		-.4px 0 #222,
		.6px 0 #222,
		0 .6px #222,
		0 -.6px #222,
		.6px .6px #222;
}
.shadow2{
	text-shadow:
		.6px .6px #222,
		-.4px .6px #222,
		.6px -.6px #222,
		-.4px 0 #222,
		.6px 0 #222,
		0 .6px #222,
		0 -.6px #222,
		0 0 5px #222,
		0 0 10px #222,
		0 0 20px #222;
}
.shadow3{
	text-shadow:
		.6px .6px #222,
		-.4px .6px #222,
		-.4px 0 #222,
		.6px 0 #222,
		0 .6px #222,
		0 -.6px #222,
		0px 0px 5px #222,
		0px 0px 2px #222;
}
/* Firmament Wars */
#chatId{
	display: none;
}
/* helper classes */
.pointer{
	cursor: pointer;
}
#game{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
#world{
	position: absolute;
	top: 0;
	left: 0;
	width: 1868px;
	height: 931px;
}
.land{
	fill: #002255;
	fill-opacity: 1;
	stroke: #2288ff;
	stroke-opacity: 1;
	stroke-width: .5;
	cursor: pointer;
}
#battle{
	display: none;
	position: absolute;
	bottom: 2%;
	left: 2%;
	width: 96%;
	z-index: 2000;
	pointer-events: none;
}
.block{
	display: block;
}
.center{
	position: relative;
	margin: 0 auto;
}
.w66{
	width: 66%;
}
.w100{
	width: 100%;
}
.nation{
	font-size: 2.75em;
	font-family: Times New Roman, serif;
	text-overflow: ellipsis;
}
.fw-primary{
	border: 1px solid #3377dd;
	background: rgba(0,0,0,.5);
	border-radius: 6px;
	color: #eef;
	z-index: 2020;
	box-shadow: 0 0 5px #3377dd, 0 0 5px #3377dd inset;
}
#menu{
	position: absolute;
	top: 7%;
	left: 1%;
	width: 47%;
	overflow: hidden;
}
#menuHead{
	padding: 8px;
}
#menuContent{
	padding: 8px;
	
}
#menuFoot{
	padding: 8px;
}
#overlay{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index:9999999;
}
#configureNation{
	visibility: hidden;
	position: absolute;
	padding: 8px;
	top: 7%;
	left: 51%;
	width: 47%;
}
.nowrap{
	white-space: nowrap;
}
.wars{
	white-space: nowrap;
	cursor: pointer;
}
.wars:hover{
	background: rgba(0,64,128,.8);
}
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}
.warCells{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
table {
	table-layout: fixed;
	word-wrap: break-word;
}
#updateNationName{
	color: #222;
}
#flagDropdown{
	max-height: 160px;
	overflow-y: auto;
}
#updateNationFlag{
	display: none;
}